

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.branch-info, .branch-map {
    flex: 1 1 100%;
    padding: 1rem;
}

.branch-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.branch-details {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.branch-details li {
    margin-bottom: 0.5rem;
}

.btn-map {
    display: inline-block;
    margin-top: 1rem;
}

.btn-map a {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.btn-map a:hover {
    background-color: #0056b3;
}

.branch-map iframe {
    width: 50vw;
    height: 40vh !important;
    border: 0;
}

@media (min-width: 48rem) {
    .wrapper {
        flex-wrap: nowrap;
    }

    .branch-info, .branch-map {
        flex: 1 1 50%;
    }

    .branch-map iframe {
        height: 100%;
    }
}

@media (min-width: 64rem) {


    .btn-map a {
        padding: 0.75rem 1.5rem;
    }
}
